@page "/scores"
@using Microsoft.Extensions.Logging;
@using Microsoft.Data.SqlClient;
@using TZ.Model;


<div>
    <button @onclick="Scoring.updateScores" >Update Score Tables</button>
</div>

<div>
    <ul>
    @foreach (var (user, score) in @Scoring.ScoresList)
    {
        <li>
            @user : @score;
        </li>
    }
    </ul>
</div>



@code {

}







