
@page "/tetrisMain"
@using Microsoft.Extensions.Logging;
@using System.Collections.Generic;
@using TZ.Model;
@using TZ.Data;


        <button @onclick="testLog">Test Log</button>

<table>
@for (int y = 0; y < homeTetris.board.height; y++)
{
    <tr>
        @for (int x = 0; x < homeTetris.board.width; x++)
        {
            bool C = false;
            <td>
                @foreach (Figure el in homeTetris.figures)
                {
                    int el_x = el.state.currentState.matrix.GetLength(0) + el.anchor.X;
                    int el_y = el.state.currentState.matrix.GetLength(1) + el.anchor.Y;

                    @if (x > el.anchor.X && x < el_x && y > el.anchor.Y && y < el_y && el.state.currentState.matrix[x - el.anchor.X, y - el.anchor.Y] == true) {C = true;}
                }

                @if (@C == true)
                {
                    <b>+</b>
                } else {
                    <b>-</b>
                }
            </td>
        }


    </tr>
}
</table>



@code {
    private static readonly ILogger _logger = Program.LF.CreateLogger("TetrisMain");

    public TZ.Model.Tetris homeTetris = new Tetris();


    public void testLog()
    {
        _logger.LogInformation("aaaaaaa from TetrisMain");
    }


}







