@page "/sign"
@using Microsoft.Extensions.Logging;
@using Microsoft.Data.SqlClient;
@using TZ.Model.Account;



<div>
    @if (Account.SignedState != true)
    {
        @if (SigningIn == false)
        {
            <form id="formSignUp" onSubmit="TryToRegistrate">
                <input id="login" name="login" @bind="Account.Login" />
                <input id="password" name="password" type="password" @bind="Account.Password" />
                <div>
                    <input id="signUpBtn" type="submit" value="Sign Up" @onclick="Account.TryToRegistrate" />
                    or
                    <button id="singInBtn" type="Button" @onclick="switchSigningIn">Sign In</button>
                </div>
            </form>
        }
        else
        {
            <form id="formSignIn" onSubmit="TryToLogIn">
                <input id="login" name="login" @bind="Account.Login" />
                <input id="password" name="password" type="password" @bind="Account.Password" />
                <div>
                    <input id="signInBtn" type="submit" value="Sigh In" @onclick="Account.TryToLogIn" />
                    or
                    <button id="singUnBtn" type="Button" @onclick="switchSigningIn">Sign Up</button>
                </div>
            </form>
        }
    }
    else
    {
        <div>
            <label class="btn btn-primary" width=300>Logged as <b>@Account.Login</b></label>
        </div>
        <div>
            <button class="btn btn-primary" @onclick="Account.LogOut" width=300>Log out</button>
        </div>
    }

</div>




@code {
    private static readonly ILogger _logger = Program.LF.CreateLogger("Sign");
    public static bool SigningIn = true;

    public static void switchSigningIn()
    {
        SigningIn = !SigningIn;
    }






}
