@page "/topscores"
@using Microsoft.Extensions.Logging;
@using Microsoft.Data.SqlClient;
@using TZ.Model;
@inject NotifierService NotifierTopScores;
@implements IDisposable


<div>
    
    <table @bind-value="Scoring.ScoresDict" @bind-value:event="onchange" style="color:white;margin-left:40px;margin-right:auto;margin-top:30px;" cellspacing="20">
        <thead>
            <tr>
                <td colspan="2">
                    Top Scores:
                </td>
            </tr>
        </thead>
    @foreach (string k in Scoring.ScoresDict.Keys)
    {
        <tr>
            <td style="">@k</td>
            <td style="width:80%;text-align:center">@Scoring.ScoresDict[k]</td>
        </tr>
    }
    </table>
</div>



@code {
    private static readonly ILogger _logger = Program.LF.CreateLogger("TopScores");

    
    protected override void OnInitialized()
    {
        Notifier.Notify += OnNotify;
    }
    public async Task OnNotify()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        NotifierTopScores.Notify -= OnNotify;
    }


}