@page "/topscores"
@using Microsoft.Extensions.Logging;
@using Microsoft.Data.SqlClient;


<div>
    <ul>
    @foreach (string k in @Top.Keys)
    {
        <li>
            @k : @Top[k];
        </li>
    }
    </ul>
</div>



@code {
    private static readonly ILogger _logger = Program.LF.CreateLogger("TopScores");
    private static SqlConnectionStringBuilder builder = new SqlConnectionStringBuilder();
    private static Dictionary<string,int> getTopScores(int count)
    {
        builder.DataSource=@"DESKTOP-0ADEN72\SQLEXPRESS";
        builder.UserID = "Tetris";
        builder.Password = "12345";
        builder.InitialCatalog = "TetrisUsersDB";
        Dictionary<string,int> dict = new Dictionary<string, int>();
        try {
            using ( SqlConnection Connection = new SqlConnection(builder.ConnectionString))
                {
                    Connection.Open();
                    string sql = $"SELECT TOP {count} Login, Score from Scores";
                    using (SqlCommand command = new SqlCommand(sql, Connection))
                    {
                        using (SqlDataReader reader = command.ExecuteReader())
                        {
                            while (reader.Read())
                            {
                                string User = reader.GetString(0).TrimEnd().ToString();
                                int Score = reader.GetInt32(1);
                                dict.Add(User, Score);
                                _logger.LogInformation($"Got from DB: User - {User}, Score - {Score}");
                            }
                        }
                    }
                }
        } catch {
            _logger.LogInformation("Something wrong with DB connection!");
        }

        return dict;
    }

    
    public static Dictionary<string,int> Top = getTopScores(5);


    

    
    

}